* {
  margin: 0;
  padding: 0;
}
.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}

/* Google Font - Crimson */



body {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: x-large;
  font-style: normal;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "header header"
  "sidebar main"
  "sidebar footer";
  background-color: gray;
}

  header {
    top: 0;
    position: sticky;
    grid-area: header;
    padding: 1em;
   
  }

  aside {
    height: calc(100vh - 51px);
    top: 51px;
    position: sticky;
    grid-area: sidebar;
    align-self: start;
    text-align: center;
    
  }

  aside img {
    padding-top: 50px;
    display: block;
    margin: auto;
  }
  aside ul li{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  main {
    grid-area: main;
    margin-top: 2% ;
    margin-right: 10%;
    margin-left: 10%;
  }
  footer {
    grid-area: footer;
    padding: 1em;
   
  }

  #menu-toggle {
    background: none;
    border: none;
    font-size: 40px;  /* Adjust size */
    cursor: pointer;
    padding: 10px;
    color: whitesmoke;
}

  @media(max-width: 800px) {
    
    body{
      grid-template-columns: 1fr;
    }

    header  {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Pushes items to opposite ends */
    flex-wrap: nowrap;              /* Prevents wrapping */
    padding: 10px 20px;
    }

    aside {
      
      height: calc(100vh - 89px);
      top: 89px;
      position: fixed;
      width: 300px;
      display: none;
      padding-top: 20px;
      background-color: white;
     
    }

    aside img {
      display: none;
    }

    .show {
      display: block;
    }
    
  }

  

  @media (min-width: 800px) { /* Adjust width as needed */
    header button {
        display: none; /* Hide button on larger screens */
    }
}