* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "header header"
  "navbar navbar"
  "sidbar main"
  "sidebar footer";}

  nav {
    top: 0;
    position: sticky;
    grid-area: navbar;
    padding: 1em;
  }

  aside {
    grid-area: sidebar;
  }

  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
    padding: 2em;
  }