* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "navbar navbar"
  "sidbar main"
  "sidebar footer";}

  nav {
    top: 0;
    position: sticky;
    grid-area: navbar;
    padding: 1em;
    background-color: blueviolet;
  }

  aside {
    height: calc(100vh - 55px);
    top: 55px;
    position: sticky;
    grid-area: sidebar;
    align-self: start;
    background-color: aqua;
  }

  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
    padding: 1em;
    background-color: brown;
  }

  @media(max-width: 800px) {
    
    body{
      grid-template-columns: 1fr;
    }

    aside {
      position: fixed;
      width: 300px;
      display: none;
    }

    .show {
      display: block;
    }
    
  }